@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

:root {
  --background-primary: hsl(218, 28%, 13%);
  --bg-secondary: hsl(217, 28%, 15%);
  --bg-footer: hsl(216, 53%, 9%);
  --bg-testimonial: hsl(219, 30%, 18%);
  --bg-testimonial-color: hsl(219, 10%, 51%);

  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --red: hsl(0, 100%, 63%);

  --white: hsl(0, 0%, 100%);

  --gradient: linear-gradient(90deg, var(--cyan) 0%, var(--blue) 100%);
  --gradient-hover: hsl(187, 62%, 72%);
  --box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);

  --font-p: "Open Sans", sans-serif;
  --font-s: "Raleway", sans-serif;
}

body {
  color: var(--white);
  background: var(--background-primary);
  font-family: var(--font-p);
}
